version: "{build}"

init:
  - git config --global core.autocrlf input

environment:
  SKIP_SASS_BINARY_DOWNLOAD_FOR_CI: true
  matrix:
    - nodejs_version: 0.10.32
    - nodejs_version: 0.11.13

install:
  - ps: Install-Product node $env:nodejs_version
  - cmd: SET PATH=C:\python27;%PATH%
  - git submodule update --init --recursive
  - ps: npm install --msvs_version=2013

test_script:
  - node --version
  - npm --version
  - npm test

build: off
