div {
  a: hey and ho and hoo;
  b: hey or ho or hoo;
  c: hey and false and (1/0);
  d: 1 > 2 or 1+3 < 1 or bungle;
  e: 1 > 2 or 1 < 2 and fungible;
  /* things that aren't logical keywords */
  a: hey andalso ho and-come-on hoo;
  b: hey orelse ho andalso hoo;
  c: hoogoo ! important blah;
  d: boogoo !important;
}