$x:  1 2 3;

bobo + mogo {
  hey: hoo;
}

@mixin moogoo() {
  hey: ho;
  div {
    blah: blah;
  }
}


:nth-of-type(2) {
  foo: bar;
}

div[hux ~= "hello"] {
  hux: blux;
  foo: boo;
  @include moogoo;
  dux: mux
}