@import url(foobar.css);
div {
  a: 2 2 + 2;
  a: #{2 + 2};
  b: +23;
  a: hello #{world};
  a: hello whatever;
  a: "hello";
  b: "hello#{2+2}";
  @import url(foobar.css);
  c: -webkit-foobar(hux, baz);
  c: foo(hello);
  @import url(foobar.css);
  
  
}

@mixin foo() {
  blah: blah;
  bloo: bloo;
}

= bar() {
  barbar: barboo;
}

div {
  + foo();
  a: a;
  b: b;
  @include foo();
  c: c;
  + foo();
  d: d;
  + bar;
}

div {
  color: blah blah;
  *color: blah bloo;
  _color: foo boo;
}