$x: global-x;
$y: global-y;
$z: global-z;

@mixin foo($x, $y) {
  /* begin foo */
  margin: $x $y;
  /* end foo */
}

@mixin foogoo($x, $y, $z) {
  margin: $x $y $z;
}

@mixin hux($y) {
  /* begin hux */
  color: $y;
  @include foo(called-from-hux);
  /* end hux */
}

div {
  @include foo(1, 2);
  @include foo(1);
  @include foogoo(1, 2);
  @include foogoo($y: kwd-y, $z: kwd-z);
}

div {
  @include hux();
}

$y: different-global-y;

div {
  @include hux(calling-hux-again);
}

@mixin bung() {
  blah: original-bung;
}

div {
  @include bung();
}

@mixin bung() {
  blah: redefined-bung;
}

div {
  @include bung();
}

div {
  /* calls to nullary mixins may omit the empty argument list */
  @include bung;
}