a {
  hey: ho;
  hugabug: third second;
  hugabug: why eks;
  hugabug: kwd-y kwd-x;
  goo: boo hoo;
  no: parameters here;
  flugablug: pug flug glug;
  flugablug: pug mug glug; }

div {
  blah: blah from a variable blah; }
