div {
  a: 3;
  b: 3.75;
  c: 1;
  /* shouldn't eval the following "300" */
  d: 300;
  /* increasingly jacked-up edge cases that combine arithmetic with lists */
  e: 10.5 2 3;
  f: 123 4 5 6;
  g: 112 8 9 6;
  /* shouldn't perform the following division */
  h: 15/3/5;
  /* should perform the following division now */
  i: 1;
  /* this too */
  j: 1;
  /* and this */
  k: 5;
  l: 1;
  m: 1/21 2 3;
  m: 1/21 2 3;
  n: 1 2 31/2;
  n: 0.5 2/4 31/21/2;
  n: 1.5;
  o: 6px;
  p: 5em;
  q: 2;
  r: 64em; }
