div {
  color: yellow;
  background: #7b2d06;
  flah: #111111;
  grah: rgba(255, 0, 238, 0.5);
  blah: rgba(1, 2, 3, 0.6);
  floo: aqua;
  bloo: rgba(0, 255, 255, 0.7);
  groo: aqua;
  hoo: 123;
  moo: 45;
  poo: 6;
  roo: #7f007f;
  doo: #3f00bf;
  goo: rgba(63, 0, 191, 0.75);
  boo: #edcba9; }
