/* top level comment -- should preserved */
div {
  /* another comment that should be preserved */
  color: red;
  background: blue;
  span {
    font-weight: bold;
    a {
      text-decoration: none;
      color: green;
    }
    /* yet another comment that should be preserved */
    display: inline-block;
  }
  p {
    padding: 10px 8%;
  }
  margin: 10px 5px;
}
/* last comment, top level again --
   compare the indentation! */