div {
  /* a comment that should be preserved */
  color: red;
  background: blue;
  span {
    font-weight: bold;
    a {
      text-decoration: none;
      color: green;
    }
    /* second comment that should be preserved */
    display: inline-block;
  }
  margin: 10px 5px;
}